---
import Layout from '../layouts/Layout.astro'

interface Album {
  id: string;
  artist: string;
  title: string;
  year: string;
  artwork: string;
  spotifyUrl: string;
}

export async function getStaticPaths() {
  const data: Album[] = await fetch("https://mvmapi.olk1.com/albums").then(response => response.json());

  return data.map((album: Album) => {
    return {
      params: { id: album.id },
      props: { album },
    };
  });
}

const { id } = Astro.params;
const { album } = Astro.props;


function addOrdinalSuffix(id: string): string {
  const number = parseInt(id, 10); // Convert the string to an integer
  if (isNaN(number)) {
    return "Invalid input"; // Handle invalid input
  }

  const suffixes = ["th", "st", "nd", "rd"];
  const remainderTen = number % 10;
  const remainderHundred = number % 100;

  if (remainderTen === 1 && remainderHundred !== 11) {
    return `${number}st`;
  } else if (remainderTen === 2 && remainderHundred !== 12) {
    return `${number}nd`;
  } else if (remainderTen === 3 && remainderHundred !== 13) {
    return `${number}rd`;
  } else {
    return `${number}th`;
  }
}
---

<Layout title="Album" bgcol="bg-blak">
<main class="flex justify-center">
    <section class="px-2 my-3">
      <a class="cursor-pointer text-white mb-4 block" href="..">&larr; back</a>
      <a class="cursor-pointer" href={album.spotifyUrl} target="_blank">
        <div class="flex justify-between">
          <p class="rotate-1 ml-1 m-4 bg-tabs w-fit uppercase p-2 font-bold">{album.title}</p>
          <p class="-rotate-2 mr-1 bg-tabs2 w-fit uppercase p-2 font-bold">{album.year}</p>
        </div>
        <div>
          <img class="w-[400]" src={album.artwork} alt={album.title}>  
        </div>
        <div class="w-full flex justify-end mt-1 pt-1">
          <p class="-rotate-1 p-1 pr-2 bg-disc text-white">The {addOrdinalSuffix(id)} album is the Discography</p>
        </div>
      </a>
    </section>
	</main>
</Layout>

